body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;aaaaa
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background-image: linear-gradient(to right, #348ac7, #44bcd8);
  color: #fff;
  padding: 100px;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.service {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact {
  margin-top: 50px;
  text-align: center;
}
.whatsapp-link {
  display: inline-block;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.whatsapp-link:hover {
  background-color: #128c7e;
}
.saiba-mais-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.saiba-mais-link:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
